# Configurações do Frontend
VITE_API_URL=http://localhost:8000/api

# Configurações da API do Asaas - Ambiente Sandbox
VITE_ASAAS_API_URL=https://sandbox.asaas.com/api/v3
VITE_ASAAS_API_KEY=seu_token_asaas_aqui

# Configurações da Z-API
VITE_ZAPI_API_URL=https://api.z-api.io/instances
VITE_ZAPI_API_KEY=seu_token_zapi_aqui
VITE_ZAPI_API_EMAIL=seu_email_zapi_aqui

# Configurações do Backend
PORT=8000
NODE_ENV=development
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=seu_usuario_postgres
DB_PASSWORD=sua_senha_postgres
DB_NAME=niverzap

# Configurações do Asaas para o Backend
ASAAS_API_URL=https://sandbox.asaas.com/api/v3
ASAAS_API_KEY=seu_token_asaas_aqui
